@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
body{
  background: white;
  font-family: 'Roboto', sans-serif;
}
#menuTarget{
  display: flex;
  flex-direction: row;
  .active{border: 1px solid red}
}
.content{
  display: flex;
  flex-direction: row;
  align-items: center;

  #menu{
    .menu{
      cursor: pointer;
    }
    .active{border: 1px solid red}

  }
  #root{

  }
}

.minimap{
  &.hidden{
    display: none;
  }
}